<div class="container" align="Center">

  <div class="row"  align="Center">
    <div class=col-md-3 align="left"></div>
    <div class=col-md-6 align="left">
      <center>
        <p id="notice"><%= notice %></p>

        <p>
          <strong>Not:</strong>
          <%= @notification.inspect %>
        </p>

      </center>
    </div>
  </div>
  <div class="span11">

  </div>
</div>