<div class="container" align="Center">
  <h2> <%= t('.new_order')%></h2>

  <div class="row"  align="Center">
    <div class="col-md-4" align="left"></div>
    <div class="col-md-4" align="left">
      <%= render 'form', order: @order, offer_id: params[:offer_id] %>
      <hr>
        </div>
  </div>
  <div class="span11">

  </div>
</div>
