<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.8&appId=1646406112338578";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


        </table>
    <% end %>
    <% if policy(dish).edit? %>
        <div class=col-md-12 >
          <a href= "<%= new_offer_url(:dish_id => dish.id ) %>" class="btn btn-embossed btn-primary"> <%= t("offers.new.new_offer") %> </a>
        </div>
    <% end %>
  </div>
</div>
