<div class="container">
  <div class="col-md-4"></div>
  <div class="col-md-4">
  <h2><%= t('.edit_dish') %></h2>

  <%= render 'form', dish: @dish %>

  <%= link_to t('show'), @dish %> |
  <%= link_to t('back'), dishes_path %>
</div>
</div>
