<div class="container">
  <div class="col-md-4"></div>
  <div class="col-md-4">
  <h2>Editing Dish</h2>

  <%= render 'form', dish: @dish %>

  <%= link_to 'Show', @dish %> |
  <%= link_to 'Back', dishes_path %>
</div>
</div>
