<p id="notice"><%= notice %></p>
<div class="container-field dish-page">
  <div class="col-md-12 ">
    <%=render "dishes/show_dish", dish: @dish, chef: @dish.chef, divide: " - ",viewmore: false  %>
  </div>
  <br><br>

  <div class="col-md-12">
    <H3>Comentarios</H3>
    <%@dish_evaluations.each do |evaluation| %>
        <%= render "dish_evaluations/show", dish_evaluation: evaluation%>
    <%end%>
  </div>

</div>
