<div class="container" align="Center">
  <h2>Editing Address</h2>

  <%= render 'form', address: @address %>

  <%= link_to 'Eliminar', @address, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= link_to 'Atras', addresses_path %>
</div>
