// Place all the styles related to the chefs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.scroll-dish {
    height: 600px;
    overflow-y: scroll;
}

.box {
    padding: 0 5px;
}

div.img-div {
}

.img-div img {
    height: 200px;
    width: 200px;
    display: block;
    margin: auto;
    //-webkit-transform:translate(-50%);
}

div.imgs-div {
    height: 180px;
    width: 180px;
    overflow: hidden;
    border-radius: 50%;
}

.imgs-div img {
    height: 180px;
    width: 180px;
    //-webkit-transform:translate(-50%);
}

div.imgdish-div {
    height: 200px;
    width: 200px;
}

.imgdish-div img {
    height: 200px;
    width: 200px;
}

div.img-face {
}

.img-face img {
    height: 110px;
    width: 110px;
    display: block;
    margin: auto;
    //-webkit-transform:translate(-50%);
}

div.index-img {}

.index-img img {
    height: 250px;
    width: 250px;
    display: block;
    margin: auto;
    //-webkit-transform:translate(-50%);
}

.center {
    position: absolute;
    display: table-cell;
    text-align: center;
    height: 130px;
}

.icon {
    height: 110px;
    width: 110px;
}
